@using EvaraMVC.Modals;
@model List<Slider>
<section class="home-slider position-relative pt-50">
    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
        @{
            int count = 0;
        }

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Categories</h1>
        <p class="mb-4">
            DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                                                                       href="https://datatables.net">official DataTables documentation</a>.
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                <div>
                    <a class="btn btn-succes px-5" asp-action="Create"> </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Title</th>
                                <th>Settings</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (Slider item in Model)
                            {
                                <tr>
                                    <td>@(++count)</td>
                                    <td>@item.Title</td>
                                    <td>
                                        <a asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id"> <button class="btn btn-info">Detail</button></a>
                                        <a><button class="btn btn-warning">Edit</button></a>
                                        <a><button class="btn btn-danger">Delete</button></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    </div>
        @foreach (Slider item in Model)
        {
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">@item.Title</h4>
                                <h2 class="animated fw-900">@item.Description</h2>
                                <h1 class="animated fw-900 text-brand">On all products</h1>
                                <p class="animated">Save more with coupons & up to 70% off</p>
                                <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-1" src="~/assets/imgs/slider/@item.ImageName" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="slider-arrow hero-slider-1-arrow"></div>
</section>